<h1>Deliveries#show</h1>
<p>Find me in app/views/deliveries/show.html.erb</p>

Délivereur : <%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
<%= @delivery.delivery_provider%>
