<h1>Plants</h1>
<%= @plant.common_name%> de son nom latin <%= @plant.latin_name%><br>
<%= @plant.description%><br>
<%= @plant.foliage%><br>
<%= @plant.mature_height%><br>
<%= @plant.mature_width%><br>
<%= @plant.maintenance_level%><br>
<%= @plant.maintenance_description%><br>
<%= @plant.water_requirement_level%><br>
<%= @plant.water_requirement_description%><br>
<%= @plant.cold_resistance_level%><br>
<%= @plant.cold_resistance_description%><br>
<%= @plant.density%><br>
<%= @plant.exposure_level%><br>
<%= @plant.exposure_description%><br>
<%= @plant.flowering%><br>
<%= @plant.planting%><br>
<%= @plant.harvest%><br>
<%= @plant.pruning%><br>

<%= link_to "Edit", edit_plant_path(@plant.id) %>
