<h1>Allotment#show</h1>
<p>Find me in app/views/allotment/show.html.erb</p>
L'espace partagé <%= @allotment.name%>
<%= @allotment.description%><br>
<%= @allotment.size%><br>m2
en partage depuis le <%= @allotment.start_date%><br> 
en partage depuis le <%= @allotment.end_date%>