<!DOCTYPE html>
<html>
  <head>
    <title>CommuniTerra</title>
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
  </head>

  <body>
    <nav>
      <h1>CommuniTerra</h1>
      <ul>
      <li><a href="<%= plants_path %>" class="nav-link text-white">Plants</a></li>
      <li><a href="<%= deliveries_path %>" class="nav-link text-white">Deliveries</a></li>
      <li><a href="<%= allotments_path %>" class="nav-link text-white">Allotments</a></li>
      <li><a href="<%= listings_path %>" class="nav-link text-white">Listings</a></li>
      <li><a href="#" class="nav-link text-white">Connexion</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
