<!DOCTYPE html>
<html>
  <head>
    <title>CommuniTerra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-green-secondary">
    <nav class="flex justify-end">
      <a href="<%= plants_path %>" class="nav-link text-green-dark">Plants</a>
      <a href="<%= deliveries_path %>" class="nav-link text-green-dark">Deliveries</a>
      <a href="<%= allotments_path %>" class="nav-link text-green-dark">Allotments</a>
      <a href="<%= listings_path %>" class="nav-link text-green-dark">Listings</a>
    </nav>
    <%= yield %>
  </body>
</html>
