<!DOCTYPE html>
<html>
  <head>
    <title>CommuniTerra</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <a href="<%= plants_path %>" class="nav-link text-white">Plants</a>
    <a href="<%= deliveries_path %>" class="nav-link text-white">Deliveries</a>
    <a href="<%= allotments_path %>" class="nav-link text-white">Allotments</a>
    <a href="<%= listings_path %>" class="nav-link text-white">Listings</a>
    <%= yield %>
  </body>
</html>
